--index-url https://download.pytorch.org/whl/cu129
--extra-index-url https://pypi.org/simple
--pre

torch
torchvision
torchaudio

PyQt6
faster-whisper
llama-cpp-python
pyyaml
srt
numpy==1.26.4
moviepy==1.0.3
